---
import ToolbarExamples from "./ToolbarExamples.astro";
import ToolbarVersionSelector from "./ToolbarVersionSelector.astro";
---

<div
    class="lg:hidden flex p-2 bg-base-300"
    role="toolbar"
>
    <div class="flex">
        <ToolbarExamples />
        <ToolbarVersionSelector />
    </div>
</div>
