---
import { examples } from "./examples";
---

<select
    class="example-select | select select-bordered select-sm w-full ml-2"
    title="Choose an example"
>
    <option selected disabled>Choose an example</option>
    {
        examples.map((example: any) => (
            <option data-example={example?.name} data-code={example?.content}>
                {example?.name}
            </option>
        ))
    }
</select>

<script>
    import {
        $editorInstance,
        $gameViewElement,
        $playgroundCode,
    } from "../../stores";

    const exampleSelects = document.querySelectorAll<HTMLSelectElement>(
        ".example-select",
    );

    exampleSelects.forEach((select) => {
        const options = select?.querySelectorAll<HTMLOptionElement>("option");

        select.addEventListener("change", () => {
            const option = options?.[select.selectedIndex];
            const example = option?.dataset.example;
            const exampleCode = option?.dataset.code;

            if (example) {
                history.pushState({}, "", `?example=${example}`);
            }

            if (exampleCode) {
                $playgroundCode.set(exampleCode);
                $editorInstance.get()?.setValue(exampleCode);
                $gameViewElement.get()?.run();
            }
        });
    });
</script>
